$spacings: (
    "0": 0,
    "1": .25rem,
    "2": .5rem,
    "3": 1rem,
    "4": 1.5rem,
    "5": 2rem,
    "6": 2.5rem,
);

@each $spacing,
$value in $spacings {
    .m-#{$spacing} {
        margin: $value;

        &\[i\] {
            margin: $value !important;
        }
    }

    .mt-#{$spacing} {
        margin-top: $value;

        &\[i\] {
            margin-top: $value !important;
        }
    }

    .mb-#{$spacing} {
        margin-bottom: $value;

        &\[i\] {
            margin-bottom: $value !important;
        }
    }

    .ml-#{$spacing} {
        margin-left: $value;

        &\[i\] {
            margin-left: $value !important;
        }
    }

    .mr-#{$spacing} {
        margin-right: $value;

        &\[i\] {
            margin-right: $value !important;
        }
    }

    .mx-#{$spacing} {
        margin-left: $value;
        margin-right: $value;

        &\[i\] {
            margin-left: $value !important;
            margin-right: $value !important;
        }
    }

    .my-#{$spacing} {
        margin-top: $value;
        margin-bottom: $value;

        &\[i\] {
            margin-top: $value !important;
            margin-bottom: $value !important;
        }
    }

    .p-#{$spacing} {
        padding: $value;

        &\[i\] {
            padding: $value !important;
        }
    }

    .pt-#{$spacing} {
        padding-top: $value;

        &\[i\] {
            padding-top: $value !important;
        }
    }

    .pb-#{$spacing} {
        padding-bottom: $value;

        &\[i\] {
            padding-bottom: $value !important;
        }
    }

    .pl-#{$spacing} {
        padding-left: $value;

        &\[i\] {
            padding-left: $value !important;
        }
    }

    .pr-#{$spacing} {
        padding-right: $value;

        &\[i\] {
            padding-right: $value !important;
        }
    }

    .px-#{$spacing} {
        padding-left: $value;
        padding-right: $value;

        &\[i\] {
            padding-left: $value !important;
            padding-right: $value !important;
        }
    }

    .py-#{$spacing} {
        padding-top: $value;
        padding-bottom: $value;

        &\[i\] {
            padding-top: $value !important;
            padding-bottom: $value !important;
        }
    }
}




.w-full {
    width: 100% !important;
}

.flex {
    display: flex;

    &-col {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }

    &-wrap {
        flex-wrap: wrap;
    }
}

.align-center {
    align-items: center;
}